body{
    background-color: #5e87af;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100 vh;
    margin-top: 40px;
}
h1{
    text-align: center;
    font-style: italic;
    color: rgb(138, 138, 27);
    font-size: 100px;
    text-shadow: 0 0 10px #0026ff,
    0 0 10px #0000ff,
    0 0 40px #2b00ff,
    0 0 60px #796be0,
    0 0 10px #ff0080;
}

#container{
    color: #071a25;
 }
.digit{
    font-size: 120px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}

.btn{
    padding: 20px 35px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: bold;
    margin: 0px 10px;
    border: 0px;
    cursor: pointer;
}

#start{
    background-color: #15d345;
}
#stop{
    background-color: #b62d66;
}
#reset{
    background-color: #e74c3c;
}